<div class="container">
	<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Birth Date</th>
			<th>Contact</th>
			<th>Address</th>
			<th>Standard</th>
			<th>Is Active</th>
			<th colspan="2"><%=link_to "New", new_student_path%></th>
			<th> Operation </th>
		</tr>
	</thead>
	<tbody>
		<%@students.each do |student|%>
			<tr>
				<td><%=student.first_name%></td>
				<td><%=student.last_name%></td>
				<td><%=student.gender%></td>
				<td><%=student.birth_date%></td>
				<td><%=student.contact%></td>
				<td><%=student.address%></td>
				<td><%=student.standard%></td>
				<td><%=student.is_active%></td>
				<td><%=link_to "Edit", edit_student_path(student)%></td>
				<td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%=link_to "Show", student_path(student)%></td>
			</tr>
		<%end%> 
	</tbody>
</table>
</div>