<div class="container">
	<nav class="navbar navbar-light" style="background-color: #e3ffdd;">
  	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  	  <li class="nav-item">
  	    <%=link_to "Home", root_path, class: "btn btn-primary"%>
  	  </li>
  	  <li class="nav-item">
  	    <a class="nav-link" id="pills-student-tab" data-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-student" aria-selected="false">Student</a>
  	  </li>
  	  <li class="nav-item">
  	    <a class="nav-link" id="pills-exam-tab" data-toggle="pill" href="#pills-exam" role="tab" aria-controls="pills-exam" aria-selected="false">Exam Results</a>
  	  </li>
  	  <li class="nav-item">
  	    <%=link_to "Presenty", new_presenty_path, class: "btn btn-primary"%>
  	  <li class="nav-item">
  	    <a class="nav-link" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery" role="tab" aria-controls="pills-gallery" aria-selected="false">Gallery</a>
  	  </li>
  	  <li class="nav-item">
  	    <a class="nav-link" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="false">About Us</a>
  	  </li>
  	</ul>
  	<div class="tab-content" id="pills-tabContent">
  	  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  	  <div class="tab-pane fade" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">...</div>
  	  <div class="tab-pane fade" id="pills-exam" role="tabpanel" aria-labelledby="pills-exam-tab">...</div>
  	  <div class="tab-pane fade" id="pills-attendance" role="tabpanel" aria-labelledby="pills-attendance-tab">...</div>
  	  <div class="tab-pane fade" id="pills-show" role="tabpanel" aria-labelledby="pills-show-tab">...</div>
  	</div>
	</nav>
</div>
<div class="container">
	<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Birth Date</th>
			<th>Contact</th>
			<th>Address</th>
			<th>Standard</th>
			<th>Is Active</th>
			<th colspan="2"><%=link_to "New", new_student_path%></th>
			<th> Operation </th>
		</tr>
	</thead>
	<tbody>
		<%@students.each do |student|%>
			<tr>
				<td><%=student.first_name%></td>
				<td><%=student.last_name%></td>
				<td><%=student.gender%></td>
				<td><%=student.birth_date%></td>
				<td><%=student.contact%></td>
				<td><%=student.address%></td>
				<td><%=student.standard%></td>
				<td><%=student.is_active%></td>
				<td><%=link_to "Edit", edit_student_path(student)%></td>
				<td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%=link_to "Show", student_path(student)%></td>
			</tr>
		<%end%> 
	</tbody>
</table>
</div>