<p>
   <h4>first name:<%=@student.first_name%></h4>
   <h4>Last name :<%=@student.last_name%></h4>
   <h4>Contact:<%=@student.contact%></h4>
   <h4>Gender:<%=@student.gender%></h4>
   <h4>Birth Date:<%=@student.birth_date%></h4>
   <h4>COntact:<%=@student.contact%></h4>
   <h4>Standard:<%=@student.standard%></h4>
   <h4>Address:<%=@student.address%></h4>
</p>
